---
import "../styles/global.css";
import { siteConfig } from "../data/site";

interface Props {
	title?: string;
	description?: string;
	image?: string;
	canonicalURL?: string;
}

const {
	title = siteConfig.title,
	description = siteConfig.description,
	image = "/og-image.jpg",
	canonicalURL = new URL(Astro.url.pathname, Astro.site),
} = Astro.props;
---

<!doctype html>
<html lang="es" class="scroll-smooth dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />


		<title>{title}</title>
		<meta name="description" content={description} />
		<meta
			name="keywords"
			content="Omar Trejo Landa, Desarrollo Web, Desarrollo Móvil, Análisis de Datos, Ingeniero en Sistemas, Flutter, React, PHP, JavaScript, Python, Xalapa"
		/>
		<meta name="author" content="Omar Trejo Landa" />
		<link rel="canonical" href={canonicalURL} />


		<meta property="og:type" content="website" />
		<meta property="og:url" content={canonicalURL} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content={new URL(image, Astro.site)} />
		<meta property="og:locale" content="es_MX" />


		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:url" content={canonicalURL} />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:image" content={new URL(image, Astro.site)} />


		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="theme-color" content="#0f172a" />
		<meta name="generator" content={Astro.generator} />


		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;900&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body class="bg-gray-950 text-gray-100 antialiased">
		<slot />
	</body>
</html>
